#cinza {
    background-color: rgb(133, 133, 133);

}

#verde {
    background-color: rgb(93, 255, 106);
    
}

#amarelo{
    background-color: rgb(252, 255, 103);
}

.txtverd{
    color: rgb(21, 107, 0);
}

.txtamare{
    color: rgb(134, 136, 0);
}

