@charset "UTF-8";

p#link-portfolio, .indice {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    text-align: center;
    width: 140px;
    margin-bottom: 20px;
    padding: 4px 0px;
    border-radius: 15px;
    background-color: black;
}

a {
    text-decoration: none;
    color: white;
}

p:hover{
    transition: 0.5s;
    background-color: gray;
}