@charset "UTF-8";

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: rgb(158, 158, 158);
}

h1 {
    font-size: 1.5em;
    color: black;
    text-align: center;
    padding: 5px 0px 5px 0px;
}

header {
    text-align: center;
    padding-top: 20px;
}

header img {
    display: block;
    max-width: 150px;
    margin: auto;
    border-radius: 50%;
}

header a#social {
    color: black;
    margin: auto;
    margin-top: 20px;
    padding-bottom: 5px;
    width: 150px;
    display: block;
    border: 1px solid black;
    border-radius: 15px;
    background: linear-gradient(to bottom, rgb(236, 142, 0), rgb(251, 255, 2));
}

header p {
    font-size: 1.2em;
    margin: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    max-width: 450px;
}

main {
    width: 95%;
    margin: auto;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.400);
    background-color: white;
    border-radius: 5px 5px 0px 0px;
}

main h2 {
    font-size: larger;
    padding: 5px 0px 10px 15px;
}

main h2#tituloDesafio {
    margin-bottom: 10px;
    cursor: pointer;
}

main h2#tituloExercicio {
    cursor: pointer;
}

main h3 {
    font-size: medium;
    padding: 10px 0px 10px 30px;
    background: white;
}

span.material-icons, span.material-symbols-sharp {
    font-size: 16px;
}

main p#subTitulo1, p#subTitulo2 {
    padding-bottom: 20px;
    padding-left: 30px;
}

main a {
    text-decoration: underline;
    color: black;
}

main a:hover {
    text-decoration: underline;
}

main section {
    display: flex;
    flex-wrap: wrap;
}

main section a {
    background-color: black;
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 10px;
    width: 160px;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 15px;
    padding: 3px 0px;
    border-radius: 14px;
}

footer {
    color: white;
    font-size: small;
    text-align: center;
    width: 95%;
    height: 34px;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: black;
    border-radius: 0px 0px 5px 5px;
}

footer > img {
    width: 12px;
    padding-left: 5px;
}

footer > a {
    color: white;
    text-decoration: none;
}

footer > a:hover {
    text-decoration: underline;
}