@charset "UTF-8";

body {
    background-color: rgb(70, 142, 236);
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
}

main {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
}

select#iselnum {
    width: 200px;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}

footer a {
    text-decoration: none;
    color: white;
}