@charset "UTF-8";

/*Outras Midias*/

/* Typical Device Breakpoints
------------------------------
Pequenas telas: até 600px
Celular: 600px - 768px
Tablet: 768px - 992px
Desktop: 992px - 1200px
Grandes telas: acima de 1200px
*/

@media screen and (min-width: 768px) {
    span#burguer {
        display: none;
    }

    menu {
        display: block;
    }

    menu > ul > li {
        display: inline-block;
    }

    main {
        max-width: 768px;
    }
}